* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img, .user-profile img {
    height: 50px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button,
.user-login button,
.user-login a {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.login-info {
    text-align: center;
    margin-bottom: 20px; 
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.login-container form {
    width: 400px; 
    padding: 30px; 
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    margin-bottom: 20px; 
    padding: 12px; 
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 12px; 
    border: none;
    cursor: pointer;
}

.login-container p {
    margin-top: 20px;
}

.login-container p a {
    color: #6a0dad;
}

.main {
    padding: 20px;
    flex: 1;
    padding-bottom: 60px; 
}

.banner {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('banner.jpg') center/cover no-repeat;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1,
.banner p {
    margin-bottom: 20px;
}

.banner button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.banner button:hover {
    background-color: #5b0cbd;
}

.destaques {
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
    padding: 30px 0;
    position: relative;
    font-size: 18px;
}

.destaques .carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    position: relative;
    width: 70%; 
    margin: 0 auto; 
}

.destaques .slide {
    flex: 0 0 auto;
    width: 100%; 
    padding: 20px; 
    text-align: center;
    scroll-snap-align: center;
    height: 50vh; 
    font-weight: bold; 
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    margin: 10px; 
}

.destaques .slide img {
    width: 80%; 
    max-height: 100%; 
    object-fit: cover;
}

.destaques .slide h3 {
    color: gray;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; 
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; 
    cursor: pointer;
    z-index: 1;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.categories {
    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.categories ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories li {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
}

.categories li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
    font-weight: bold;
    text-align: center;
    background-color: #6a0dad;
    padding: 20px;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.categories li a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.default-ltr-cache-1yz1b0z {
    background-color: #5b0cbd;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #5b0cbd;
}

.e9eyrqp0 {
    text-align: center;
    font-size: 14px;
    color: #5b0cbd;
}

.footer {
    display: flex;
    background-color: #000;
    color: #fff;
    text-align: center;
    justify-content: space-between;
    padding: 20px 0;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
}

.custom-footer {
    display: flex; 
    background-color: #000;
    color: #fff;
    text-align: center;
    justify-content: space-between;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.social-icons {
    display: flex;
    margin-left: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    gap: 20px;
}

.social-icons a {
    display: flex;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.section-footer {
    display: flex;
    width: 90%;
    justify-content: right;
    align-items: center;
}

.footer-text-box {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
}

.footer-links-primeira,
.footer-links-segunda,
.footer-links-terceira {
    display: flex;
    flex-direction: column;
}

.footer-links-primeira {
    margin-right: 1rem;
}

.footer-links-segunda {
    margin-right: 1rem; 
}

.footer-text-box a {
    color: #757575;
    text-decoration: none;
    font-size: 14px;
    font-family: inherit;
}

.footer-text-box a:hover {
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 35%;
    margin-right: 2rem;
}

.footer p {
    font-size: 14px;
}

